body
{
	font-family: 'Lato', sans-serif;
	margin:0px;
	background-color:#ffbc3f;
}
h1
{
	text-align:center;
	font-size:41px;
	margin:0;
}
#title
{
	background-color:orange;
	color:white;
	margin:0 0;
	width:100%;
	max-width: 100%;
	min-width: 100%;
	height:90px;
}
#title a
{
	text-align: center;
	color:red;
}
#subsection
{
	height:200px;
}
#image
{
	text-align:center;
	margin:0;
}
#kofta1
{
	height:100px;
	box-sizing: border-box;
}
#info
{
	max-width:30%;
	box-sizing: border-box;
}
#info h3
{
	display:inline-block;
	margin:0;
}
#info text
{
	display:inline-block;	
	margin:0;
}
h2
{
	margin:1px;
}
.step:nth-child(odd)
{
	background-color:#ffc356;
}
.step:nth-child(even)
{
	background-color:#e58b42;
}
.step
{
	text-align:center;
}