a
{
	margin: auto;
	display: block;
	text-align: center;
	text-decoration: none;
}
#btn_ibm
{
	margin-top: 30%;
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	font-size:50px;
	font-weight:bold;
	background-color:#000000;
	background-size: 100% 20px;
	color:#DC292D;
	box-sizing: border-box;
	border:5px solid white;
}
#btn_ibm #i
{
	color:#DC292D;
}
#btn_ibm #b
{
	color:#0E9256;
}
#btn_ibm #m
{
	color:#4D668D;
}
#btn_ibm:hover
{
	background-color:#FFFFFF;
	box-sizing: border-box;
	border:5px solid black;
}
#btn_coke
{
/*	https://codepen.io/seheekim/pen/BKYGZp
*/	position: relative;
	overflow: hidden;
	margin: 0 auto;
	margin-top:40px;
	width: 100px;
	height: 170px;
	border-radius: 50px/25px;
	background-color: red;
	border:5px solid white;
	color:white;
	font-size:30px;
	font-family: 'Kaushan Script', cursive;

}
#btn_coke:hover
{
	background-color:white;
	border:5px solid red;
	color:red;
}
#btn_coke #coke_text
{
	margin-top:35px;
}

#btn_lyft
{
	font-family: 'Merienda One', cursive;
	background-color:#E100B8;
	border-radius:50%;
	font-size:35px;
	height:150px;
	width:150px;
	color:white;
	margin:auto;
	position:relative;
	overflow:hidden;
	margin-top:50px;
}
#btn_lyft:hover
{
	transform: rotate(360deg);
	transition-duration:1.5s;
}
#btn_lyft #lyft_text
{
	margin-top:45px;
}
#btn_sardella
{
	margin-top:80px;
	font-size:47px;
	text-transform: uppercase;
	font-weight:bold;
	color:#FFFFFF;
	border-radius:10%;
	height:80px;
/*	https://wpshout.com/quick-guides/create-text-outline-css/
*/	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#btn_sardella:before
{
	content:'SAR';
	color:#009246;
}
#btn_sardella:after
{
	content:'LLA';
	color:#CE2B37;
}
#btn_sardella:hover:before
{
	content:'SAR';
	color:#FFFFFF;
}
#btn_sardella:hover:after
{
	content:'LLA';
	color:#FFFFFF;
}
#btn_sardella:hover
{
	background-color:#54ff9f;
}
#btn_moo
{
	margin-top:50px;
	font-size:70px;
	transform: rotate(90deg);
	outline:black 3px solid;x
	height:100px;
	width:80px;
	color:tan;
}
#btn_moo:hover
{
/*	https://www.w3schools.com/howto/howto_css_shake_image.asp
*/	animation: shake 0.5s;
	color:orange;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(90deg); }
    10% { transform: translate(-1px, -2px) rotate(89deg); }
    20% { transform: translate(-3px, 0px) rotate(91deg); }
    30% { transform: translate(3px, 2px) rotate(90deg); }
    40% { transform: translate(1px, -1px) rotate(91deg); }
    50% { transform: translate(-1px, 2px) rotate(89deg); }
    60% { transform: translate(-3px, 1px) rotate(90deg); }
    70% { transform: translate(3px, 1px) rotate(89deg); }
    80% { transform: translate(-1px, -1px) rotate(91deg); }
    90% { transform: translate(1px, 2px) rotate(90deg); }
    100% { transform: translate(1px, -2px) rotate(89deg); }
}

#btn_colorrun
{
	background-color:#ff84cb;
	color:#9bfffd;
	width:270px;
	margin-top:60px;
	font-size:55px;
	font-family: 'Ubuntu', sans-serif;
	font-weight:bold;
}
#btn_colorrun:hover
{
	animation: bounce 1.5s;
	animation-iteration-count: infinite;
}
@keyframes bounce
{
	0%{ transform: translateY(10px); background-color:red;}
	10%{ transform: translateY(-10px); background-color:orange;}
	20%{ transform: translateY(10px); background-color:tan;}
	30%{ transform: translateY(-10px);background-color:green; }
	40%{ transform: translateY(10px);background-color:lightblue; }
	50%{ transform: translateY(-10px);background-color:indigo; }
	60%{ transform: translateY(10px);background-color:violet; }
	70%{ transform: translateY(-10px);background-color:maroon; }
	80%{ transform: translateY(10px); background-color:red;}
	90%{ transform: translateY(-10px);background-color:lightblue; }
	100%{ transform: translateY(10px); background-color:green;}
}
#btn_botanical
{
	background: linear-gradient(
	  to bottom,
	  #5d9634,
	  #5d9634 50%,
	  #773913 50%,
	  #773913
	);
	background-height: 20px;
	font-size:30px;
	margin-top:70px;
	color:white;
	font-family: 'Lora', serif;
	width:270px;
}
#btn_botanical:hover
{
	background: linear-gradient(
	  to bottom,
	  #497728,
	  #497728 50%,
	  #51260b 50%,
	  #51260b
	);
	color:yellow;
}
#btn_nike
{
	margin-top:70px;
}
#btn_nike:hover
{
	filter:invert(100%);
	background-color:#0099FF;
	transform:translateX(40px);
	transition-duration:0.2s;
}
#btn_nike img
{
	height:70px;
	width:170px;
}
#btn_army
{
	margin-top:50px;
	font-size:50px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight:bold;
	border:3px solid black;
	border-radius:15%;
	color:white;
	background-color:#78866b;
}
#btn_army:hover
{
	margin-top:50px;
	font-size:50px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight:bold;
	border:3px solid black;
	border-radius:15%;
	background-color:#ffcb05;
	/*	https://wpshout.com/quick-guides/create-text-outline-css/
*/	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}
#btn_cn
{
	margin-top:50px;
	font-size:60px;
	letter-spacing: 10px;
	background-color:black;
	color:white;
	font-family: 'Sigmar One', cursive;
	font-weight:normal;
	border:8px white solid;
}
#btn_cn:hover
{
	background-color:white;
	color:black;
	border:8px black solid;	
}
#btn_fb
{
	font-family: 'Oswald', sans-serif;
	margin-top:65px;
	font-size:80px;
	color:white;
	background-color:#3B5998;
	width:100px;
	height:123px;
	border-radius:5%;
}
#btn_fb:hover
{
	width:150px;
	height:185px;
	transition-duration:1s;
	margin-top:30px;
	font-size:120px;
}
#btn_foreflight
{
	font-family: 'Ubuntu', sans-serif;
	margin-top:26px;
	font-size:40px;	
	background-color:black;
	color:green;
	height:200px;
	width:200px;
	position:relative;
	overflow:hidden;	
	border-radius:50%;
}
#btn_foreflight:hover
{
	background-color:green;
	color:black;
	transition-duration: .5s;
}
#btn_foreflight #text_foreflight
{
	margin-top:67px;
}
#btn_npr
{
	filter:saturate(50%);
	margin-top:80px;
}
#btn_npr:hover
{
	filter:none;
	transition-duration:.75s;	
}
#btn_nerf
{
	background-color:orange;
	margin-top:80px;
	font-size:50px;
	font-family: 'Crimson Text', serif;
	font-weight:bold;
	font-style:italic;
	color:white;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	height:80px;
	position:relative;
	overflow:hidden;
	border-top-right-radius: 43%;
	border-bottom-right-radius: 43%;
}
#nerf_text
{
	margin-top:21px;
	margin-right: 30px;
}
#btn_nerf:hover
{
	background-color:navy;
	text-shadow:
		-1px -1px 0 orange,
		1px -1px 0 orange,
		-1px 1px 0 orange,
		1px 1px 0 orange;
	border-top-right-radius: 43%;
	border-bottom-right-radius: 43%;
}
#btn_apple
{
	margin-top:30px;
	height:200px;
	width:110px;
	background-color:#aaafae;
	color:white;
	position:relative;
	overflow: hidden;
	font-size:70px;
	border-radius:10%;
	font-family: 'K2D', sans-serif;
}
#btn_apple img
{
	margin-top:40px;
	height:70px;
	width:70px;
	filter:invert(100%);
}
#btn_apple:hover
{
	background-color:#6c706f;
}
#btn_nbc
{
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	font-size: 55px;
	font-weight: bold;
	color:white;
	border-radius:15%;
	/*background:linear-gradient(45DEG,#E1AC26,#DC380F,#9F0812,#6347B2,#368DD5,#70AF1E);*/
	background-image:url("http://www.brandgradients.com/img/backgrounds/nbc-hex-colors-gradient-background.png");
	background-size:cover;
	background-repeat:no-repeat;
}
#btn_nbc:hover
{
	text-shadow:
		-3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
}
#btn_mk
{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 90px 0 0 0;
	font-size:32.7px;
	color:black;
	
}
#btn_mk:hover
{
	color:white;
	background-color:black;
}
#btn_cycle
{
	margin-top:50px;
	font-size:40px;
	background-color:#AB1E24;
	color:white;
	border-radius:5%;
}
#btn_cycle #bike
{
	size:100px;
	margin:0;
}
#btn_cycle:hover
{
	text-shadow:
	-3px -3px 0 #000,
	3px -3px 0 #000,
	-3px 3px 0 #000,
	3px 3px 0 #000;

}
#btn_samsung
{
	margin-top:70px;
}
#btn_samsung:hover
{
	filter:saturate(250%);
}
#btn_samsung img
{
	height:100px;
	width:225px;
}
#btn_exploding_kittens
{
	margin-top:55px;
	font-size:40px;
	background-color:maroon;
	text-align:center;
	font-family: "Roboto", sans-serif;
	font-weight:bold;
	color: orange;
	height:150px;
	text-shadow:
		0px -2px 4px red,
		0px -2px 10px red,
		0px -10px 20px orange,
		0px -20px 40px orange;
	position:relative;
	overflow:hidden;
	border-radius:5%;
}
#btn_exploding_kittens #text_exploding_kittens
{
	margin-top:30px;
}
#btn_exploding_kittens:hover
{
	color:white;
}
#btn_ofa
{
	background-color:#0DBDD7;
	font-family: 'Seymour One', sans-serif;
	margin-top:60px;
	font-size:60px;
	height:130px;
	border-radius:5%;
	color:white;
	position:relative;
	overflow: hidden;
}
#btn_ofa #ofa
{
	margin-top:20px;
}
#btn_ofa:hover
{
	font-size:70px;
	transition-duration:.5s;
}
#btn_tucker_allen
{
	font-family:'Libre Baskerville',serif;
	margin-top:80px;
	font-size:50px;
	color:black;
}
#btn_tucker_allen:hover #tucker
{
	color:#04643F;
}
#btn_tucker_allen:hover #allen
{
	color:#A10F42
}
#btn_old_navy
{
	font-family: 'Roboto', sans-serif;
	width:250px;
	height:150px;
	border-radius:50%;
	margin-top:50px;
	background-color:navy;
	color:white;
	font-size:40px;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	border: 5px solid white;
}
#text_oldnavy
{
	margin-top:45px;
}
#btn_old_navy:hover
{
	border: 5px solid navy;
	background-color:white;
	color:navy;
}

#btn_pottermore
{
	font-family: 'Charmonman', cursive;
	color:white;
	background-image: url('https://images.pexels.com/photos/388418/pexels-photo-388418.jpeg?cs=srgb&dl=dark-clouds-storm-thunderstorm-388418.jpg&fm=jpg');
	margin-top:35px;
	height:200px;
	background-size: cover;
	font-size:55px;
	position:relative;
	overflow:hidden;
}
#text_pottermore
{
	margin-top:43px;
}

#btn_pottermore:hover
{
     text-shadow: 0 0 3px white; 
}
