body
{
	font-family: 'Archivo Narrow', sans-serif;
}
#section1
{
	padding-top:165px;
	box-sizing: border-box;
	height:480px;
	background-image:url("images/crater.jpg");	
	background-size:cover;
}
#pageintro
{
	text-align: center;
	font-size:80px;
	letter-spacing: 0px;
	font-weight: bold;
	padding-bottom:0px;
	line-height: 1;
	margin:0 0 12.5px 0;
}
#subheading
{
	text-align: center;
	padding-top:0px;
	margin:0 0;
	font-size:30px;
}
#section1 #subheading, #pageintro
{
  color:white;
}
#section2
{
	padding-top: 45px;
	background-color:rgba(26, 110, 244,1);
	height:668px;
}
.sectiontitle
{
	text-align:center;
	font-size:42px;
	letter-spacing: -0.5px;
	margin: 0 0 38px;
	line-height: 1;
}
#sec2img
{
	float:right;
	margin-left:40px;
	margin-bottom:25px;
}
p
{
	line-height: 25.2px;
	font-size:18px;
}
#section3
{
	padding-top:45px;
	background-color:rgba(3,104,2,1);
	height:641px;
}
.contentcontainer
{
	margin:auto;
	width:960px;
}
.photobox
{
	display:inline-block;
	width:50%;
	box-sizing:border-box;
	padding-right:30px;
	margin-bottom:24px;
}
.photobox img
{
	float:left;
	margin-right: 12px;
}
.photobox h4
{
	margin:0 0 6.5px 10px;
	font-size: 20px;
}
.photobox p
{
	margin:0;
	line-height:25px; 
}
#section4
{
	padding-top:45px;
	background-color:rgba(191, 21, 57,1);
	height:355px;
}
.contentcontainer2
{
	margin:auto;
	width:720px;
}
#section4 p
{
	text-align: center;
	font-size:26px;
	line-height: 35.5px;
}
#section5
{
	padding-top:23.3px;
	padding-left:151.5px;
	font-size:15px;
	background-color:rgba(250,214,165,1);
	margin:0;
	box-sizing:border-box;
	height:100px;
}