body
{
	background-color:white;
	color:#c10b0b;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top:0;
	margin-right:50px;
	margin-left:50px;
}
h1,.navbar-title
{
	font-family: 'Times New Roman', serif;
	text-align: center;
	text-transform: uppercase;
}
h2
{
	text-align: center;
}
.content-container
{
	width:50%;
	float:right;
}
#navbar-title
{
	margin-top:0;
}
.white:hover
{
    text-shadow: 0 0 18px white;
}
.red:hover
{
    text-shadow: 0 0 18px #ff1d00;
}
.purple:hover
{
    text-shadow: 0 0 18px #8300ef;
}
.yellow:hover
{
    text-shadow: 0 0 18px #ffff00;
}
#header-container
{
	text-align:center;
	position:fixed;
	top:0;
	background-color:#c10b0b;
	color:white;
}
.header-item
{
	display:inline-block;
	margin-right:20px;
	margin-left:20px;
	text-decoration: none;
	color:white;
	font-size:20px;
}
.img-container
{
	max-height:50vh;
	text-align: center;
	top:30%;
	position:fixed;
}
img
{
	max-height:50vh;
	max-width: 100%;
}