body
{
	font-family: 'Lato', sans-serif;
	margin:10px;
	background-color:#ffbc3f;
}
h1
{
	text-align:center;
	font-size:41px;
	margin:0;
}
#title
{
	background-color:orange;
	color:white;
	margin:0 0;
	width:100%;
	max-width: 100%;
	min-width: 100%;
	height:90px;
}
#title a
{
	text-align: center;
	color:red;
}
#subsection
{
	height:200px;
}
#image
{
	text-align:center;
	margin:0;
	background-color:black;
	padding:0;
	margin-top:40px;
}
#kofta1
{
	box-sizing: border-box;
	height:200px;
}
#info
{
	max-width:30%;
	box-sizing: border-box;
}
#info h3
{
	display:inline-block;
	margin:0;
	margin-right:10px;
}
#info text
{
	display:inline-block;	
}
h2
{
	margin:1px;
}
.step
{
	padding:10px;
}
/*https://css-tricks.com/examples/hrs/*/
hr{
    border: 0;
    border-bottom: 1px solid black;
}