#bigtitle
{
	font-size:68px;
	max-width:100%;
	vertical-align: middle;
	margin-bottom:0;
	margin-top:0;
}
.section
{
	display:inline-block;
	margin-right:20px;
	margin-left:20px;
	font-size:30px;
}
#sectioncontainer
{
	text-align: center;
}
a
{
	color:#c10b0b;
	text-decoration: none;
}
a:hover
{
	/*text-decoration: underline;*/
}
body
{
	background-image:url("images/index_duotone.jpg");
	background-size:100vw auto;
	background-repeat: no-repeat;
}
#container
{
	background-color: white;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}
@media(max-width: 640px)
{
	#bigtitle
	{
		font-size:30px;
	}
	.section
	{
		font-size:12px;
	}
	#container
	{
		padding-bottom: 40px;
	}
	body
	{
		background-size:cover;
		height:100%;
		background-position: center;
	}
	html
	{
		height:100%;
	}
}