body
{
	background-color:white;
	color:#c10b0b;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top:0;
}
h1,.navbar-title
{
	font-family: 'Times New Roman', serif;
	text-align: center;
	text-transform: uppercase;
}
h2
{
	text-align: center;
}

#navbar-title
{
	margin-top:0;
}
#header-container
{
	text-align:center;
	background-color:#c10b0b;
	color:white;
}
.header-item
{
	display:inline-block;
	margin-right:20px;
	margin-left:20px;
	text-decoration: none;
	color:white;
	font-size:20px;
}
.header-item:hover
{
	background-color:white;
	color:#c10b0b;
}
.section:hover
{
	background-color:#c10b0b;
	color:white;
}
img
{
	/*max-height:50vh;*/
	max-width: 100%;
}
@media(max-width: 639px)
{
	.content-container
	{
		margin-right:15px;
		margin-left:15px;
	}
}
@media(min-width: 640px)
{
	.img-container
	{
		/*max-height:50vh;*/
		text-align: center;
		top:180px;
		position:fixed;
		max-width:43%;
	}
	.content-container
	{
		width:50%;
		float:right;
	}
	body
	{
		padding-top: 150px;
	}
	#header-container
	{
		position:fixed;
		top:0;
		width:100%;
		left:0;
	}


}
.citation
{
	color:darkgray;
}